<div class="row header">
  <img src="/assets/img/logo-light.png" alt="fashionphilelogo" class='logosmall col-xs-4'>

  <div class="col-xs-4 pull-right">
    <div class='col-xs-5 col-sm-4'>
<!--       <a ui-sref='walldisplay' id='walldisplay' class='btn btn-default'></a> -->
    </div>
    <div class='col-xs-5 col-sm-4'>
      <a ui-sref='admin' id='stats' class='btn btn-default'></a>
    </div>
  </div>

</div>


<div class="row">

    <h1 class='text-center customerList'>Customer list</h1>

    <div class="col-xs-8 col-xs-offset-2">
      <table class="table table-striped">
        <tr ng-repeat="customer in customers">
          <td> {{customer.name}} </td>
          <td> <span>{{ customer.joined | timeAgo }}</span></td>
          <td><button class='btn btn-primary btn-xs' ng-click="helpCustomer(customer);">Help Customer</button></td>
        </tr>

      </table>
    </div>

</div>
<toaster-container class="bounceIn"></toaster-container>
<div>
    <a ui-sref='login' class="logout">logout</a>
</div>
