<body ng-app="treeApp">

  <div class="container" ng-controller="treeCtrl">
</br>
</br>
    <div class="row">
      <div class="col-lg-4 offset0 span3" style="max-width: 400px">
        <h3>Image Selector</h3>
</br>

    <form>
  <fieldset>
  
    <input class="form-control urlInput" type="text" ng-model="imageUrl" placeholder="Image URL">
    <button type="submit" class="btn-default urlInputButton" ng-click="newImage(imageUrl)">Submit</button></br>
    <h4 class="urlInputH4">Only the First 10 Images will display</h4>
  </fieldset>
</form>
<!-- Nested node template -->
        <script type="text/ng-template" id="nodes_renderer.html">
          <div ui-tree-handle class="newImage tree-node tree-node-content ">
          <div ng-show="node.folder" class="newImage" data-noDrag></span><h5 style="margin-top: 0px;">
            {{node.title}}</h5><hr></div>
          <div class="newNode">
              <div class="nodeIndex" ng-show="node.index <= 10">{{node.index}}</div>
              <a class="newImage">
                <img ng-show="!node.folder" style="height: 70px;" src={{node.image}}>
              </a>
              
            </div>
          </div>
<!-- Child Nodes -->
            <ol ui-tree-nodes="" ng-model="node.children" ng-class="{hidden: collapsed}">
              <li class="newImage" ng-repeat="node in node.children" ui-tree-node ng-include="'nodes_renderer.html'">
              </li>
            </ol>
        </script>
<!-- Repeat code -->
        <div ui-tree id="tree-root">
          <ol ui-tree-nodes="" ng-model="data">
            <li ng-repeat="node in data" ui-tree-node ng-include="'nodes_renderer.html'"></li>
          </ol>
        </div>
      </div>


  </div>
  <intercept-url pattern="/favicon.ico" access="ROLE_ANONYMOUS" />