<div class="row header jumbotron">
	<img src="/assets/img/logo-light.png" alt="fashionphilelogo" class='center-block logo img-responsive'>
</div>

<div class="row col-xs-8 col-xs-offset-2 col-md-6 col-md-offset-3">

	<div class="">
    <h2 class='text-center'>Please Select Location</h2>

    <select multiple class='form-control text-center' ng-model="location.name" ng-options="location._id as location.name for location in locations" ng-change="getLocations(locationId)">
    </select>
	</div>


<div class="">
<h2 class='text-center'>Customer or Employee</h2>
<select multiple class='form-control text-center' ng-model="view.id">
  <option value="Customer View">Customer</option>
  <option value="Employee View">Employee</option>
</select>


</div>

<button type="submit" class="btn btn-default selection">Submit</button>	
</div>

