#wrapper {
	background-color: #fff;
	width: 100%;
	height: 150px;
	margin-top: -1px;
	position: absolute;
	left: 0;
	bottom: 0;
	overflow: visible;
}
#carousel {
	margin-top: -100px;
}
#carousel div {
	width: 200px;
	height: 250px;
	float: left;
	position: relative;
	margin-left: 200px;
}
#carousel div img {

}
#carousel div span {
	display: none;
}
#carousel div:hover span {
	background-color: #333;
	color: #fff;
	font-family: Arial, Geneva, SunSans-Regular, sans-serif;
	font-size: 14px;
	line-height: 22px;
	display: inline-block;
	width: 100px;
	padding: 2px 0;
	margin: 0 0 0 -50px;
	position: absolute;
	bottom: 30px;
	left: 50%;
	border-radius: 3px;
}