<!-- Wall Carousel -->

<div class="wallcarouseltop" ng-show="emptyqueue">
  <div style="height: 305px">
    <carousel interval="myInterval">
      <slide ng-repeat="slide in slides" active="slide.active">
        <img class="wallcarousel" ng-src="{{slide.image}}" style="margin:auto;">
        <div class="carousel-caption">
        </div>
      </slide>
    </carousel>
  </div>
</div>

<!-- Queue Page -->

<div class="row header jumbotron" ng-show="!emptyqueue">
  <img src="/assets/img/logo-light.png" alt="fashionphilelogo" class='center-block logo img-responsive'>
</div>


<div class="row" ng-show="!emptyqueue">
    <h1 class='text-center customerList'>Customer list</h1>
    <div class="col-lg-8 col-lg-offset-2">
      <table class="table table-striped customerTVList">
        <tr ng-repeat="customer in customers">
          <td> {{customer.name}} </td>
          <td class="queueTime"> <span>{{ customer.joined | timeAgo }}</span></td>
        </tr>
      </table>
    </div>
</div>



<!-- Slider Carousel -->

<div slider-directive data="data" ng-show="!emptyqueue"></div>

