<div class="row header">
  <div class="col-xs-8 pull-left">
    <a ui-sref="selection"><img src="/assets/img/logo-light.png" alt="fashionphilelogo" class='logosmall col-xs-4'></a>
    <br>
    <h6 id='locationName'>
      <span class='locationName'> All Locations </span>
    </h6>
  </div>

  <div class="col-xs-4 pull-right">
    <div class='col-xs-5 col-sm-4'>
<!--       <a ui-sref='walldisplay' id='walldisplay' class='btn btn-default'></a> -->
    </div>
    <div class='col-xs-5 col-sm-4'>
<!--       <a ui-sref='admin' id='stats' class='btn btn-default'></a> -->
    </div>
  </div>

</div>
<div class="row"> 

<!-- left view -->
  <div class="col-xs-6 text-center">
    <h1>the wait</h1>

    <div class="row">
      <div class="center-block circle">
        <div>
            <h1>{{average | date:'mm'}}
                <span class='minuteCust'>mins</span>
            </h1>
            <h3 class='averageCust'>average</h3>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-5 col-xs-offset-4">
        <h2 class='leftNum'>{{longestWait | date:'mm'}}
          <span class='minutes'>mins</span>
        </h2>
        <h4 class='leftText'>longest</h4>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-4 col-xs-offset-4">
        <h2 class='leftNumSmall'>{{shortestWait | date:'mm'}}
          <span class='minutes'>mins</span>
        </h2>
        <div class='shortestBar'></div>
        <h4 class='leftText'>shortest</h4>
      </div>
    </div>
  </div>

<!-- right view -->
  <div class="col-xs-6 text-center">
    <h1>customers</h1>
   
    <div class="row">
      <bar-chart data="data"></bar-chart>

<!--       <div class="center-block square">
          <div>
              <h1>{{averageDailyCust}}</h1>
              <h3>average daily</h3>
          </div>
      </div> -->
    </div>

    <div class="row">
      <div class="col-xs-8">      
          <div class='pull-right rightNum'>
            <h2>{{totalCustomers}}</h2>
          </div>
          <div class='pull-right rightTextContainer'>
            <h3>customers</h3>
            <h4>total</h4>
          </div>  
      </div>  

    <div class="row">
      <div class="col-xs-8">      
          <div class='pull-right rightNum'>
            <h2>{{averageDailyCust}}</h2>
          </div>
          <div class='pull-right rightTextContainer'>
            <h3>average</h3>
            <h4>daily</h4>
          </div>  
      </div>  
    </div> <!-- end of weeklytotal -->
  </div> <!-- end of rightviewcontainer -->
</div> <!-- end MAIN row -->
</div>

<!--Individual store stats -->
<div class="row">
  <h1 class="text-center">Store Stats</h1>    
  <div class="col-xs-4 col-xs-offset-4">
    <div class='storeBorder' ng-repeat="location in locations" >
      <div ng-model="location.name" ng-change="getLocations(locationId)">
        <a class='storeStats'><div ng-click="goToAdminView(location.name)">{{location.name}}</div></a>
      </div>
    </div>
  </div>
</div>











