html,
body {
  width: 100%;
  height: 100%;
  font-family: 'Muli', sans-serif;
}
.requireMe:before {
  content: '*';
  position: absolute;
  left: 2px;
  font-size: 20px;
  color: #f00;
}
.ipadFooter {
  display: none;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px;
  background: #d5d5d5;
}
.container-fluid {
  background: #fff;
}
.form-control {
  border-radius: 4px;
}
select.form-control {
  font-size: 20px;
}
.form-control:focus {
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(255,0,153,0.6);
  border-color: #f09;
}
.logo {
  max-width: 400px;
  min-width: 300px;
}
.logosmall {
  max-width: 200px;
  margin: 0;
  padding: 0;
}
.login {
  margin-bottom: 30px;
}
.selection {
  margin-top: 20px;
}
.btn {
  width: 100%;
  border-radius: 4px;
}
.btn-info {
  background: #5a5a5a;
  color: #fff;
}
.btn-info:hover {
  background: #f09;
  color: #fff;
}
.btn-default {
  background: #f09;
  color: #fff;
  border-color: #eb0c8f;
  -webkit-transition: 0.25s;
          transition: 0.25s;
}
.btn-default:hover {
  background: #e72589;
  color: #fff;
  border-color: #b90160;
  -webkit-transition: 0.25s;
          transition: 0.25s;
}
.jumbotron {
  background: #434343;
  margin-top: 0;
  color: #fff;
}
.header {
  background: #434343;
  padding: 20px;
}
.logout {
  margin-left: 20px;
  padding: 10px 20px;
  border: 1px solid #2f2f2f;
  border-radius: 4px;
  position: absolute;
  bottom: 0;
}
.circle {
  border-radius: 50%;
  background-color: #434343;
  color: #d5d5d5;
  height: 200px;
  width: 200px;
}
.circle h1 {
  padding-top: 35%;
  margin-bottom: 0;
}
.square {
  border-radius: 4px;
  background-color: #2f2f2f;
  color: #d5d5d5;
  height: 200px;
  width: 200px;
}
.square h1 {
  padding-top: 35%;
  margin-bottom: 0;
}
.square h3 {
  font-size: 14px;
  margin-top: 0;
}
.leftNum {
  border-bottom: 3px solid #2f2f2f;
  text-align: left;
  margin-bottom: 0;
}
.leftText {
  font-size: 12px;
  text-align: left;
  margin-top: 0;
}
.leftNumSmall {
  text-align: left;
  margin-bottom: 0;
}
.shortestBar {
  border-bottom: 3px solid #2f2f2f;
  width: 35%;
}
.rightNum {
  text-align: left;
  margin-bottom: 0;
}
.rightTextContainer {
  padding-top: 0.3125rem;
  padding-right: 0.3125rem;
}
.rightTextContainer h3 {
  text-align: right;
  font-size: 14px;
  margin-bottom: 0;
}
.rightTextContainer h4 {
  text-align: right;
  font-size: 12px;
  margin-top: 0;
}
.minutes {
  font-size: 18px;
  position: relative;
  right: 10px;
}
.average {
  font-size: 14px;
  position: relative;
  left: -30px;
  margin-top: 0;
}
