html,
body {
  width: 100%;
  height: 100%;
  font-family: 'Muli', sans-serif;
}

/*barchart directive*/

.chart {
  position: relative;
  width: 285px;
  height: 240px;
  font-size: 10px;
}
.chartInput {
  margin: 0;
  padding: 0;
}
.axis text {
  font: 10px sans-serif;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.bar {
  fill: #2f2f2f;
  fill-opacity: .9;
}
.bar:hover {
  fill: #E72589;
}
.x.axis path {
  display: none;
}
.chartSort {
  position: absolute;
  top: 10px;
  right: 10px;
}

/*end of barchart directive*/

.queueTime {
  text-align: right;
}
a {
  cursor: pointer;
}
.requireMe:before {
  content: '*';
  position: absolute;
  left: 2px;
  font-size: 20px;
  color: #f00;
}
.ipadFooter {
  display: none;
}
.footer {
  position: absolute;
  bottom: 0;
  z-index: -100;
  width: 100%;
  height: 80px;
  background: #d5d5d5;
}
.container-fluid {
  background: #fff;
}
.form-control {
  border-radius: 4px;
}
select.form-control {
  font-size: 20px;
}
.form-control:focus {
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(255,0,153,0.6);
  border-color: #f09;
}
.logo {
  max-width: 400px;
  min-width: 300px;
}
.logosmall {
  max-width: 200px;
  margin-top: 8px;
  padding: 0;
}
.login {
  margin-bottom: 30px;
}
.selection {
  margin-top: 20px;
}
.btn {
  width: 100%;
  border-radius: 4px;
}
.btn-info {
  background: #5a5a5a;
  color: #fff;
}
.btn-info:hover {
  background: #f09;
  color: #fff;
}
.btn-default {
  background: #f09;
  color: #fff;
  border-color: #eb0c8f;
  -webkit-transition: 0.25s;
          transition: 0.25s;
}
.btn-default:hover {
  background: #e72589;
  color: #fff;
  border-color: #b90160;
  -webkit-transition: 0.25s;
          transition: 0.25s;
}
.jumbotron {
  background: #434343;
  margin-top: 0;
  color: #fff;
}
.header {
  background: #434343;
  padding: 20px 20px 20px;
}
.logout {
  margin: 10px 10px;
  padding: 10px 20px;
  border: 1px solid #2f2f2f;
  border-radius: 4px;
  position: fixed;
  bottom: 0;
}
.circle {
  border-radius: 50%;
  background-color: #434343;
  color: #d5d5d5;
  height: 200px;
  width: 200px;
}
.circle h1 {
  padding-top: 35%;
  margin-bottom: 0;
  color: #d5d5d5;
}
.square {
  border-radius: 4px;
  background-color: #2f2f2f;
  color: #d5d5d5;
  height: 200px;
  width: 200px;

}

.square h1 {
  padding-top: 35%;
  margin-bottom: 0;
}
.square h3 {
  font-size: 14px;
  margin-top: 0;
}
.leftNum {
  border-bottom: 3px solid #2f2f2f;
  text-align: left;
  margin-bottom: 0;
}
.leftText {
  font-size: 12px;
  text-align: left;
  margin-top: 0;
}
.leftNumSmall {
  text-align: left;
  margin-bottom: 0;
}
.shortestBar {
  border-bottom: 3px solid #2f2f2f;
  width: 35%;
}
.rightNum {
  text-align: left;
  margin-bottom: 0;
}
.rightTextContainer {
  padding-top: 0.3125rem;
  padding-right: 0.3125rem;
}
.rightTextContainer h3 {
  text-align: right;
  font-size: 14px;
  margin-bottom: 0;
}
.rightTextContainer h4 {
  text-align: right;
  font-size: 12px;
  margin-top: 0;
}
.minutes {
  font-size: 18px;
  position: relative;
  right: 10px;
  color: #343434;
}
.minutesCust {
  font-size: 18px;
  position: relative;
  right: 10px;
  color: #d5d5d5;
}
.average {
  font-size: 14px;
  position: relative;
  left: -30px;
  margin-top: 0;
  color: #d5d5d5;
}
.averageCust {
  font-size: 14px;
  position: relative;
  left: -30px;
  margin-top: 0;
  color: #D5D5D5;
}
/* added for edit icon */
.editLocation:before {
  content: "";
  display: inline-block;
  background: url('../img/edit.png') no-repeat;
  background-size: contain;
 /* margin-top: 12px;*/
  width: 20px;
  height: 20px;
}

/*darker to de-emphasize desire to edit locations*/
.modalLocations {
  position: fixed;
  bottom: 0;
  margin-bottom: 20px;
  background: #FFFFFF;
  border-color: #CECECE;
  -webkit-transition: 0.25s;
          transition: 0.25s;
}
.modalLocations:hover{
  background: #6C6C6C;
  -webkit-transition: 0.25s;
        transition: 0.25s;
}

.customerList {
  font-size: 2em;
  padding: 0 0 20px;
}

.customerTVList {
  font-size: 1.5em;
  padding: 0 0 20px;
}

.icons {
  margin-bottom: 10px;
}

.navLocation {
  color: #FFFFFF;
  margin-left: 12px;
  content:url('../img/map.png');
}
a.storeStats {
  font-size: 1.5em;
  text-decoration: none;
  color: #262626;
  border-bottom: 5px solid #262626;
  text-align: center;
}
a.storeStats:hover{
  color: #3434;
  cursor: pointer;
}
/* storeStats bottom border*/
.storeBorder {
  margin: 0 0 10px;
  border-bottom: 2px solid black;
}
/*.storeBorder:hover{
  color: #efef;
}
*/
#locationName{
  padding-top: 5px;
}

.locationName {
  color: white;
  display: inline;
}

.locationName::before{
  content: url('../img/map.png');
  height: 45px;
}

#stats {
  content: url('../img/graph.png');
  height: 45px;
  background: none;
  border: none;
  width: auto;
  margin-right: 10px;
}

#walldisplay {
  content: url('../img/tv.png');
  background: none;
  border: none;
  height: 45px;
  width: auto;
  margin-right: 10px;
}

.urlInputButton {
   width: 20%;
   border-radius: 4px;
   height: 39px;
   float: left;
   margin-bottom: 20px;
}

.urlInput {
   width: 76%;
   border-radius: 4px;
   float: left;
   margin-left: 10px;
}
.urlInputH4 {
   margin-left: 10px;
}
