
.btn {
    margin-right: 8px;
}

.angular-ui-tree-handle {
    background: white;
    border: white;
    color: black;
    padding: 10px 10px;
}

.angular-ui-tree-handle:hover {
    color: #438eb9;
    background: white;
    border-color: #dce2e8;
}

.angular-ui-tree-placeholder {
    background: #f0f9ff;
    border: 2px dashed #bed2db;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


.group-title {
    background-color: #687074 !important;
    color: #FFF !important;
    font-family: times;
}


.angular-ui-tree-handle:hover + .newHover {
    display: block;
}