/*Wall Carousel*/

.carousel-indicators{
    display: none;
}

.carousel-control{
    display: none;
}

#slides_control > div{
    height: 200px;
}
.wallcarousel {
    margin:auto;
    width: 4000px;
}

#slides_control {
    position:absolute;
    width: 400px;
    left:50%;
    top:20px;
    margin-left:-200px;
}

.wallcarouseltop {
  margin-top: 100px;
}

/*demo.css */

.btn {
    margin-right: 8px;
}

.angular-ui-tree-handle {
    background: white;
    border: white;
    color: black;
    padding: 10px 10px;
}

.angular-ui-tree-handle:hover {
    color: #438eb9;
    background: white;
    border-color: #dce2e8;
}

.angular-ui-tree-placeholder {
    background: #f0f9ff;
    border: 2px dashed #bed2db;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.group-title {
    background-color: #687074 !important;
    color: #FFF !important;
    font-family: times;
}
.angular-ui-tree-handle:hover + .newHover {
    display: block;
}

#CheckBox {
    float: right;
}

/*Slideout CSS*/

#slideout {
    position: fixed;
    top: 30px;
    left: 0;
    width: 100px;
    height: 100%;
    padding: 12px 0;
    z-index: 1;
    text-align: center;
    /*background: pink;*/
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
}
#slideout_inner {
    position: fixed;
    top: 0px;
    left: -500px;
    background: #fff;
    width: 500px;
    padding: 25px;
    height: 100%;
    z-index: 1;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    text-align: left;
    -webkit-border-radius: 0 0 5px 0;
    -moz-border-radius: 0 0 5px 0;
    border-radius: 0 0 5px 0;
    border-right: 2px solid #434343;
    overflow: auto;
}

#slideout:hover {
    left: 500px;
}
#slideout:hover #slideout_inner {
    left: 0;
}

.newNode {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nodeIndex {
    font-size: 40px;
    color: gray;
}