<div class="row header text-center">
  <img src="/assets/img/logo-light.png" alt="fashionphilelogo" class='logo'>
</div>


	<h1 class='text-center'>Please Signin To Enter The Queue</h1>


<div class="row">
<p ng-repeat="customer in customers"></p>
</div>

<div class="row">
<form class='col-xs-8 col-xs-offset-2'>
	<div class="form-group requireMe">

		<input ng-keyup="$event.keyCode === 13 && addCustomer()" type="text" ng-model="name" class='form-control' placeholder="Type your name to enter queue">
		
	</div>

	<div class="form-group">
		<input type="email" class='form-control' placeholder='email'>
	</div>
	<button ng-click='addCustomer()' class="btn btn-default col-xs-12">Submit</button>
</form>
</div>

<div class="row ipadFooter">
  <img src="/assets/img/logo-light.png" alt="fashionphilelogo" class='logosmall text-center'> @ location
</div>
