<div class="row header">
	<img src="/assets/img/logo-light.png" alt="fashionphilelogo" class='logosmall col-xs-4' /><br>
	<h6>
		<span class='locationName'> {{customerLocation.name}}  </span>
	</h6>
</div>


	<h1 class='text-center'> Welcome</h1>
	<h3 class='text-center'>Please check-in</h3>

<div class="row">
<p ng-repeat="customer in customers"></p>
</div>

<div class="row">
<form class='col-xs-8 col-xs-offset-2' ng-submit="addCustomer(customer)">
	<div class="form-group requireMe">

		<input type="text" ng-model="customer.name" class='form-control' placeholder="name">
		
	</div>

	<div class="form-group">
		<input type="email" class='form-control' placeholder='email' ng-model="customer.email">
		<toaster-container></toaster-container>
	</div>
	<button class="btn btn-default col-xs-12">Submit</button>
</form>
</div>

<div class="row ipadFooter">
 <span class='navLocation'></span> <img src="/assets/img/logo-light.png" alt="fashionphilelogo" class='logosmall text-center'> @ {{customerLocation.name}}
</div>